USE [master]
GO
/****** Object:  Database [ToDoList]    Script Date: 8/8/2025 15:50:25 ******/
CREATE DATABASE [ToDoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ToDoList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ToDoList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoList]
GO
/****** Object:  User [alumno]    Script Date: 8/8/2025 15:50:25 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 8/8/2025 15:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Finalizada] [bit] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/8/2025 15:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NOT NULL,
	[UltimoLogin] [date] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([ID], [Titulo], [Descripcion], [Fecha], [Finalizada], [IdUsuario]) VALUES (1, N'Comprar víveres', N'Ir al súper y comprar frutas y verduras', CAST(N'2025-08-08' AS Date), 0, 1)
INSERT [dbo].[Tareas] ([ID], [Titulo], [Descripcion], [Fecha], [Finalizada], [IdUsuario]) VALUES (2, N'Estudiar SQL', N'Practicar joins y subqueries', CAST(N'2025-08-09' AS Date), 0, 1)
INSERT [dbo].[Tareas] ([ID], [Titulo], [Descripcion], [Fecha], [Finalizada], [IdUsuario]) VALUES (3, N'IU diseño', N'Modificar interfaz del login', CAST(N'2025-08-10' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Username], [Pass], [Nombre], [Apellido], [Foto], [UltimoLogin]) VALUES (1, N'Fran', N'Contraseña123', N'Francisco', N'Castillo', N'/images/Fran.jpg', CAST(N'2025-04-27' AS Date))
INSERT [dbo].[Usuarios] ([ID], [Username], [Pass], [Nombre], [Apellido], [Foto], [UltimoLogin]) VALUES (2, N'Tobito', N'MTobi09', N'Tobías', N'Turquie', N'/images/Tobi.jpg', CAST(N'2025-06-15' AS Date))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
