@{
    ViewData["Title"] = "Index";
}

<div>

    <form action='@Url.Action("Account", "Home")' method="POST" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="Nombre de Tarea" required />
        <input type="text" name="desc" placeholder="Descripción" required />
        <input type="date" name="fechaF" placeholder="Fecha de Finalización" required />
        
        <input type="submit" value="Iniciar Sesión" class="btn-login" />
    </form>

</div>
