@{
    ViewData["Title"] = "Index";
}

<div>
@if (ViewBag.TareaAEditar != null)
{
    <form action='@Url.Action("EditarTareaGuardar", "Home")' method="POST" enctype="multipart/form-data">

        Nombre de La Tarea:
        <input type="text" name="nombre" placeholder="Nombre de Tarea" required />
        Descripción:
        <input type="text" name="desc" placeholder="Descripción" required />
        Fecha:
        <input type="date" name="fechaF" placeholder="Fecha de Finalización" required />
        
        <input type="submit" value="Guardar Cambios" class="btn-login" />
    </form>} 

</div>
